header {
    width: 100%;
    background:#dadaa8; 
}
body {
    color:rgb(11, 35, 35);
}
main {
    display: flex;
    flex-direction: row;
    flex: 1 1 auto;
}
aside {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    width: 25%;
    height: 100%;
    background: rgba(180, 188, 228, 0.986);
    top:0;
    left: 0;
    padding: 20 px 30px;
}   

main > section {
    display: flex;
    flex-direction: column;
}
#logo {
   width: 50px;
}

.logo-img {
    width: 150px;
}

  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    background-color: transparent;
    text-decoration: underline;
  }
  
  li a:hover {
    color: black ;
    background-color: rgba(109, 69, 50, 0.444) ;
    text-decoration: underline;
  }
  
  .body {
    background-color: #f5e6d3;
    color: #6d5f52;
  }
  
  section.intro {
    padding: 5%;
    gap: 5%;
    display: grid;
    grid-template-columns: 55% auto;
    background: rgb(191, 210, 243);
  }
  #hz-university {
    width: 100%;
    height: auto;
 
  .name {
    padding: 0 20px 20px 0;
    font-size: 70px;
    box-align: left;
    text-align: center;
  }
  
  .introduction {
  font-size: 13px;
  text-align: center;
  color:rgb(226, 248, 248); 
  }
  .addition
  
  .text {
     align="bottom"
     
  
  h2 {
      color: #c1772d;
      ;
      text-decoration: underline;
      font-size: 24pt;
      font-family: Georgia, 'Times New Roman', Times, serif;
  }
  
  
  main {
      font-family: 'Times New Roman', Times, serif;
      color-scheme: #f555f5;
  }
  
  