.round {
    border-radius: 200px; 
    box-shadow: 0 0 0 3px rgb(144, 88, 28), 0 0 13px #333; 
    max-width: 25%;
    max-height: 25%;
    float: right;
    width: auto;

  } 
   
 

.container {
    background-color: rgba(104, 178, 242, 0.762);
    border-radius: 20px;
    padding: 10px;
  }
.item-1 {
    position: absolute;
    margin: 182px;
    height: 352px;
    width: 527;
}