.body {
    background-color: #f5e6d3;
    color: #6d5f52;
}
.container {
  width: 100%;
  max-width: 1200px;
  padding-left: 1rem;
  padding-right: 1rem;
  margin: 0 auto;
}
.intro {
width: 200px; height: 200px; background-color: #ccc
}
.round {
  border-radius: 200px; 
  box-shadow: 0 0 0 3px rgb(144, 88, 28), 0 0 13px #333; 
  max-width: 25%;
  max-height: 25%;
  float: right;
  width: auto;
} 
.name {
  padding: 0 20px 20px 0;
  font-size: 70px;
  box-align: left;
  text-align: center;
}

.introduction {
font-size: 13px;
text-align: center;
}
.addition

.text {
   align="bottom"
}

h2 {
    color: #c1772d;
    ;
    text-decoration: underline;
    font-size: 24pt;
    font-family: Georgia, 'Times New Roman', Times, serif;
}


main {
    font-family: 'Times New Roman', Times, serif;
    color-scheme: #f555f5;
}

