body {
    background-color: #f5e6d3;
    color: #6d5f52;
  }
  
  .round {
    border-radius: 200px; 
    box-shadow: 0 0 0 3px rgb(144, 88, 28), 0 0 13px #333; 
   }
h2 {
    color: #c1772d;
    ;
    text-decoration: underline;
    font-size: 24pt;
    font-family: Georgia, 'Times New Roman', Times, serif;
}


main {
    font-family: 'Times New Roman', Times, serif;
    color-scheme: #f555f5;
}

