* { 
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Cormorant', serif;
}
html, body {
  width: 100%;
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
}
nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: linear-gradient(141deg, rgb(213, 161, 98) 0%, rgb(203, 126, 19) 40%, rgb(222, 207, 150) 90%);
  position: sticky;
  top: 0px;
}


 

a {
  float: right;
  display: inline;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  background-color: transparent;
  text-decoration: underline;
}

a:hover {
  color: black ;
  background-color: rgba(109, 69, 50, 0.444) ;
  text-decoration: underline;
}
:target {
  background: blueviolet;
}


.body {
  background-color: #f5e6d3;
  color: #6d5f52;
}



main {
    font-family: 'Times New Roman', Times, serif;
    color-scheme: #f555f5;
}

